archive/
datasets/
swanlog/

12208359_1920_1080_60fps.mp4
yolov8n.pt
yolo11n.pt

presentation/*.tex
presentation/*.aux
presentation/*.fdb_latexmk
presentation/*.fls
presentation/*.log
presentation/*.nav
presentation/*.out
presentation/*.snm
presentation/*.synctex.gz
presentation/*.toc

src/__pycache__/
*.pyc

artifacts/tracking/*.mp4

runs/task2_detect/visdrone_yolov8n/weights/last.pt
